:root {
	--text: hsl(48, 63%, 3%);
	--background: hsl(0, 0%, 100%);
	--primary: hsl(140, 65%, 59%);
	--secondary: hsl(230, 66%, 86%);
	--accent: hsl(320, 65%, 46%);
}
body{
	background-color: var(--background);
	margin: 0;
	padding: 0;
	font-family: 'Borel', cursive;
}
header{
	width: 100%;
	box-sizing: border-box;

	height: 4rem;
	padding: .5rem 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
nav{
	width: 100%;
	box-sizing: border-box;

	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;


}

.logo-div {
	box-sizing: border-box;
	
	width: 100%;
	
	max-height: 4rem;
	height: 100%;
	display: flex;
	align-items: center;

}
.logo-div img{
	height: 2rem;
	width:2rem;
    border-radius: 50%;
	border: 0px solid var(--secondary);
	background-color: var(--secondary);
	margin: 0 0;
	padding: 0 0;
}
.title{
	box-sizing: border-box;
	background-color: beige;
	height: 100%;
	max-height: 4rem;
	width: 100%;
}
.search-box{
	box-sizing: border-box;
	background-color: black;
	height: 100%;
	max-height: 4rem;
	width: 100%;
}