body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Coolvetica", sans-serif;
}
body section {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body section .container-main {
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100vh;
}
body section .container-main .left {
  padding: 3rem 6rem;
  position: relative;
  background-image: linear-gradient(320deg, hsl(237, 32%, 49%) 0%, hsl(237, 34%, 51%) 7%, hsl(237, 38%, 52%) 14%, hsl(237, 41%, 53%) 21%, hsl(237, 44%, 55%) 29%, hsl(237, 48%, 56%) 36%, hsl(237, 52%, 57%) 43%, hsl(237, 55%, 58%) 50%, hsl(237, 59%, 59%) 57%, hsl(237, 63%, 61%) 64%, hsl(237, 67%, 62%) 71%, hsl(237, 71%, 63%) 79%, hsl(237, 76%, 64%) 86%, hsl(237, 80%, 65%) 93%, hsl(237, 85%, 66%) 100%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
body section .container-main .left .logo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  margin-bottom: 35%;
}
body section .container-main .left .logo button {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0.5px 0.5px 3px #0d0d0d;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .container-main .left .logo button .fa-bars-staggered {
  font-size: 1rem;
  color: #d8d9db;
}
body section .container-main .left .logo button .fa-bolt {
  color: #17192c;
}
body section .container-main .left .logo p {
  margin: auto 0 auto 1rem;
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 600;
}
body section .container-main .left h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10%;
}
body section .container-main .left p {
  color: #ffffff;
  font-size: 0.9rem;
}
body section .container-main .left .circle {
  background-color: #f27405;
  border-radius: 50%;
  bottom: -140px;
  height: 20vw;
  min-height: 10rem;
  min-width: 10rem;
  position: absolute;
  width: 20vw;
  z-index: 4;
  right: 70px;
}
body section .container-main .right {
  background-color: #f5f9fc;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  padding-right: 8rem;
}
body section .container-main .right .container {
  margin-top: 7rem;
  max-width: 360px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
}
body section .container-main .right .container .row {
  width: 100%;
}
body section .container-main .right .container .row1 {
  margin-bottom: 1rem;
}
body section .container-main .right .container .row1 img {
  width: 3rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0;
  box-sizing: border-box;
}
body section .container-main .right .container .row2 {
  margin-bottom: 1rem;
}
body section .container-main .right .container .row2 h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #181a2d;
  padding: 0;
}
body section .container-main .right .container .row3,
body section .container-main .right .container .row4 {
  margin: 0.5rem;
  width: 100%;
}
body section .container-main .right .container .row3 p,
body section .container-main .right .container .row4 p {
  padding: 0;
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: #181a2d;
}
body section .container-main .right .container .row3 input,
body section .container-main .right .container .row4 input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  min-height: 2rem;
  background-color: #edf0f4;
  color: #181a2d;
}
body section .container-main .right .container .row5 {
  margin: 0.5rem;
  width: 100%;
}
body section .container-main .right .container .row5 .check-btn {
  padding: 0;
  display: flex;
  align-items: center;
}
body section .container-main .right .container .row5 .check-btn input {
  accent-color: #565aa6;
}
body section .container-main .right .container .row5 .check-btn p {
  margin-bottom: 0;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}
body section .container-main .right .container .row5 button {
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.2rem;
  background-color: #5e66f2;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
body section .container-main .right .container .row5 button:hover {
  background-color: #565aa6;
}
body section .container-main .right .container .row5 .extra-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
  padding: 0;
}
body section .container-main .right .container .row5 .extra-btn p {
  font-size: 0.9rem;
  font-weight: 500;
}
body section .container-main .right .container .row5 .extra-btn .git-google {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
body section .container-main .right .container .row5 .extra-btn .git-google button {
  background-color: #ffffff;
  color: #181a2d;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  place-content: center;
  box-sizing: border-box;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 1px #0d0d0d, -1px -1px 1px rgb(185, 184, 184);
}
body section .container-main .right .container .row5 .extra-btn .git-google button i {
  font-size: 1.5rem;
}
body section .container-main .right .container .row5 .extra-btn .git-google button p {
  margin: 0;
  font-size: 1.1rem;
}
body section .container-main .right .container .row5 .extra-btn .git-google button:hover {
  background-color: #edf0f4;
}
body section .container-main .right .container .row6 .sign-up {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: start;
  padding: 0;
}
body section .container-main .right .container .row6 .sign-up p {
  margin: 0;
}
body section .container-main .right .container .row6 .sign-up a {
  margin-left: 0.5rem;
  text-decoration: none;
  color: #f27405;
}/*# sourceMappingURL=styles.css.map */