.App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divx{

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}